nav {
   
     display: flex;
     align-items: center;
   
    

}

.header__menu {
    display: flex;
    align-items: center;

    /* меню навігації */
    
        &__list {
            display: flex;
    
        }
    
        &__item {
            /* outline: 1px solid red; */
            margin-right: 50px;
    
        }
    
        &__item:last-child {
            margin-right: 0;
        }
    
        &__link,
        &__link--current {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            color: var(--title-text-color);
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__link--current {
            position: relative;
        }
    
        &__link--current {
            color: var(--accent-color);
            /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        }
    
        &__link--current::after {
            content: '';
    
            position: absolute;
    
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            left: 0;
            bottom: 0;
    
        }

}

/* логотип */
.logo-begin {
    display: inline-block;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--accent-color);


}



.logo-end {
    color: var(--title-text-color);

}





/* Контакти */


.contacts {
    display: flex;
    margin-left: auto;

    &__item+&__item {
            margin-left: 50px;
    
        }
    
    
        &__mail,
        &__tel {
            display: flex;
            align-items: center;
    
            padding-left: 10px;
            padding-top: 32px;
            padding-bottom: 32px;
    
            color: var(--primaty-text-color);
            fill: var(--primaty-text-color);
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-decoration: none;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        &__icon {
            margin-right: 10px;
        }

}


.header__menu__link:hover,
.contacts__mail:hover,
.contacts__tel:hover,
.footer-contact:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
   

}

.header__menu__link:focus,
.contacts__mail:focus,
.contacts__tel:focus,
.footer-contact:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
   
}

