.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    max-height: 581px;
    height: 100%;

    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    overflow-y: scroll;


}


.modal__btn__close {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 8px;

    background-color: inherit;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover,
    &:focus {
            fill: var(--accent-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}

