/* секція Specifics */

.specifics {
         margin-bottom: 50px;
   
    &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            @media (min-width:480px){
                text-align: center;
            }
            @media (min-width:768px){
                text-align: left;
            }

    }
    &__text {
            margin-bottom: 10px;
            @media (min-width:1200px){
            margin-bottom: 0;
        }
    }
    &__list {
              @media (min-width:768px) {
                    display: flex;
                    flex-wrap: wrap;
                   
               }
      
    }  
    
    
     &__item {
        
            @media (min-width:480px){
                width: 100%;
                
            }
            @media (min-width:768px){
                align-items: center;
                // width: 50%;
                width: 354px;
                margin-right: 10px;
            }
            @media (min-width: 1200px){
                width: 270px;
                margin-right: 30px;
            }         
  
    }
    &__list &__item:last-child {
        margin-right: 0;
    }
    
    &__list>&__item::before {
        display: block;
        content: "";
        height: 120px;
        background-color: var(--secondary-background-color);
    
        background-size: contain;
        background-size: 65px, 70px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
    }
        &__item.icon-details::before {
            background-image: url("../images/det.svg");
        }

        &__item.icon-punkt::before {
            background-image: url("../images/punkt.svg");
        }
        &__item.icon-plan::before {
           background-image: url("../images/diagram.svg");
     }
        &__item.icon-techno::before {
            background-image: url("../images/astronaut.svg");
        }
}









