

.team {

    background-color: var(--secondary-background-color);

    &__title {
            margin-top: 0;
            margin-bottom: 50px;
    
        }
    &__list {
            @media (min-width:768px){
                display: flex;
            }
            
    
        }
    
    &__item {
            margin-right: 30px;
            background: var(--color-white);
            /* material shadow v1 */
    
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
    
    &__item:last-child {
            margin-right: 0;
        }
    
    &__item img {
            display: inline-block;
            max-width: 100%;
            height: auto;
    
        }

}





.team__card {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
            /* margin-top: 30px; */
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
    
    
        }
    
    &__text {
            margin-top: 0;
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
    
        }

}

