:root {
    --primaty-text-color: #757575;
    --secondary-background-color: #F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --color-white: #FFFFFF;
    --color-white-transparency: rgba(255, 255, 255, 0.6);
    --color-footer: #2F303A;
    --color-icon: #AFB1B8;

}